{% extends "base.html" %}
{% block content %}
  <div class="main">
    <div class="mapbox">
      {% if location %}
      <div id="map1">
      </div>
      {% endif %}
      {% if results and not location %}
        <div class="emb">
          This country does not have an embassy in the US.
        </div>
      {% endif %}
    </div>

    <div class="mapbox">
      <div class="emb">
        {% if not results %}
          That code is not in our records.
        {% endif %}
        {% if plate_type and results %}
          {{ plate_type }}
          <br><br>
          <div class="flag {{ flag_image }}"></div>
          <br><br>
          {{ results }}
        {% endif %}
      </div>
    </div>

    <div class="mapbox">
      <div id="map2">
      </div>
    </div>
  </div>
{% endblock content %}


