@import "flags.css";

@font-face {
    font-family: 'webtext-regular';
    src: url('../fonts/simonetta-regular-webfont.eot?') format('eot'),
         url('../fonts/simonetta-regular-webfont.woff') format('woff'),
         url('../fonts/simonetta-regular-webfont.svg') format('svg'),
         url('../fonts/Simonetta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'webtext-ital';
    src: url('../fonts/simonetta-italic-webfont.eot?') format('eot'),
         url('../fonts/simonetta-italic-webfont.woff') format('woff'),
         url('../fonts/simonetta-italic-webfont.svg') format('svg'),
         url('../fonts/Simonetta-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

html {
    width: 100%;
}

body {
    font-family: webtext-regular, sans-serif;
    text-align: center;
}
em {font-family: webtext-ital;}

#map1, #map2 {
    height: 100%;
}

.box {
    display: block;
    width: 50%;
    margin: 0px auto;
}

.main {
    display: table-row;
    margin: auto;
    width: 50%;
}

.mapbox {
    width: 33.33%;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.emb {
    display: table-cell;
    height: 300px;
    vertical-align: middle;
}








