@import "flags.css";

@font-face {
    font-family: 'webtext-regular';
    src: url('../fonts/simonetta-regular-webfont.eot?') format('eot'),
         url('../fonts/simonetta-regular-webfont.woff') format('woff'),
         url('../fonts/simonetta-regular-webfont.svg') format('svg'),
         url('../fonts/Simonetta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'webtext-ital';
    src: url('../fonts/simonetta-italic-webfont.eot?') format('eot'),
         url('../fonts/simonetta-italic-webfont.woff') format('woff'),
         url('../fonts/simonetta-italic-webfont.svg') format('svg'),
         url('../fonts/Simonetta-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: webtext-regular, sans-serif;
    text-align: center;
}

.mapbox {
    height: 400px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

#map1, #map2 {
    height: 100%;
}

.emb {
    height: 400px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}








